.card {
  background-color: rgb(237, 206, 183);
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);  
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9); 
}

.card input {
  margin: 20px;
  display: flex;
  
}

.form-edit{
    display: flex;
    flex-direction: column;
}