.formulario{
  background: rgba(211, 13, 13, 0.2); /* transparencia */
  backdrop-filter: blur(8px);           /* desenfoque */
  -webkit-backdrop-filter: blur(8px);   /* compatibilidad */
  padding: 20px;          
  border-radius: 10px;    
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 

}

.formulario label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #555;
}

.formulario input {
  width: 100%;
  padding:  12px 0px 5px 2px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
}

.formulario input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

button:hover {
  background: #0056b3;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.mensaje {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}